{% extends 'index.html' %}
{% block content %}
<h1><font color="#003760">REGISTER</font></h1>
<center>
<div class="ok">
<form action="reg">
    MAIL  ID:<br><input type="text" name="mail" placeholder="youe email here"><br>
    NAME    :<br><input type="text" name="name" placeholder="your name here"><br>
    MOBILE  :<br><input type="text" name="mobile" placeholder="your mobile here"><br>
    USERID  :<br><input type="text" name="uid" placeholder="your new user id here"><br>
    PASSWORD:<br><input type="password" name="pass" placeholder="your password here"><br>
    <input type="submit">

</form>
</div>
</center>
{% endblock %}